.comment{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 10px;
}

.author{
    font-family: 'Roboto', sans-serif;
    padding: 20px 0 0 20px;
    font-size: large;
    font-weight: 600;
}

.text{
    padding:  20px;
}